<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perform Music</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>
<img th:src="@{/img/leaveBox.jpg}" width="30%" height="30%" id="pc2" alt="Leave the box">
<h5>PERFORM</h5>
<p>
<h6> Third step:</h6> Perform it. Either record it or play it for others see how it goes over.
    <u>Tweaks appear from the atmosphere.</u> For electronic music you're probably going to
    record it and listen to it the next day. Does it still makes sense is it still interesting is it
    worth pursuing and tweaking and making even better.
</p>
<p>
<img th:src="@{/img/blond.jpg}" width="550" height="350" id="pc" alt="Blondies Arcata">
    Get a field recorder, kick it off every time you play an open mic if you're there every week after a few months
    you could have quite a collection of stuff it might be pretty good.
    Oh, about the live performance; the live open mics.  Its live testing playing for other people,
    playing around the house, or in the front yard. What kind a looks, kind of smiles, what kind of dismay do you see,
    that will affect how the music progresses.
</p>
<a th:href="@{/develop}"> << Previous </a> <a th:href="@{/linz}"> &nbsp; >> Linz Music </a>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>